*:focus {
    box-shadow: none !important;
}

:root {
    --main-color: #EA371F;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.font-custom {
    font-family: "Ubuntu", sans-serif;
}

.bg-custom {
    background-color: var(--main-color) !important;
}

.logo {
    width: 50px;
}

a:hover {
    color: var(--main-color) !important;
}

#sezione-1 {
    min-height: 100vh;
    padding-top: 40px;
}

.text_title {
    display: inline;
    color: var(--main-color);
}

.color_bottom {
    border-bottom: 1px solid var(--main-color) !important;
}

.foto-ste {
    transform: scale(0.8);
    border-radius: 50%;
}

#skills {
    min-height: 600px;
}

.titolo {
    position: relative;
}

.titolo:after {
    background-color: #fff;
    color: #fff;
    content: "";
    height: 2px;
    width: 20%;
    position: absolute;
    top: 55px;
    left: 0;
}

#experience {
    min-height: 500px;
}

.arrow {
    transform: rotate(-45deg);
    color: #fff;
}


#contatti {
    min-height: 600px;
}

.img-contatti {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.titolo-contatti {
    font-size: 26px;
    font-weight: 700;
    padding-top: 30px;
}

#contatti a {
    color: #fff;
}

#footer {
    min-height: 200px;
    background-color: #0d0d0d;
    padding: 20px;
}

/* pagina about me */
